.card {
    border-radius: 21px;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 34px 27px;
    border: 1px solid rgba(147, 162, 211, 0.38);
    align-items: center;
  }
  
  @media (max-width: 991px) {
    .card {
      margin-top: 40px;
    }
  }
  
  .image {
    aspect-ratio: 1.27;
    object-fit: contain;
    object-position: center;
    width: 100%;
    border-radius: 21px;
    cursor: pointer;
  }
  
  .content {
    display: flex;
    min-height: 195px;
    flex-direction: column;
    justify-content: start;
    margin: 36px 15px 0 16px;
    align-items: center;
  }
  
  @media (max-width: 991px) {
    .content {
      margin: 0 10px;
    }
  }
  
  .textWrapper {
    display: flex;
    min-height: 125px;
    max-width: 100%;
    width: 295px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  .title {
    color: var(--primary, #0e2368);
    font: var(--font-secondary);
    font-weight: bold;
    text-align: center; /* Center the text horizontally */
    max-width: 600px;   /* Optional: limit width for better readability */
    margin-left: auto;   /* Center align horizontally */
    margin-right: auto;  /* Center align horizontally */
    margin-top: 20px;    /* Optional: add some spacing above */
}

  .description {
    color: var(--body, #444957);
    letter-spacing: -0.3px;
    margin-top: 14px;
    font: var(--font-primary);
    text-align: center; /* Center the text horizontally */
    max-width: 600px;    /* Optional: limit width for better readability */
    margin-left: auto;   /* Center align horizontally */
    margin-right: auto;
    line-height: 1.6;    /* Optional: increase line height for readability */
}


  .readMoreButton {
    align-self: stretch;
    border-radius: 21px;
    margin-top: 27px;
    min-height: 42px;
    width: 170px;
    max-width: 100%;
    gap: 10px;
    color: #424961;
    letter-spacing: 0.49px;
    padding: 3px 26px;
    font: var(--font-primary);
    border: 1px solid #424961;
    background: none;
    cursor: pointer;
    align-items: center;
  }
  .readMoreButton:hover{
    background-color: #424961;
    color:white
  }
  @media (max-width: 991px) {
    .content{
        margin: 30px 10px;
    }
    .readMoreButton {
      padding: 0 20px;
      align-self: center;
    }
    .textWrapper{
        width: 100%;
    }
    
    
  }