.footer {   
  background: #f6f7fa;
    padding: 93px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
  }
  
  .footerContent {
    display: flex;
    width: 100%;
    max-width: 1226px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -20px;
  }
  
  .logo {
    aspect-ratio: 1.29;
    object-fit: contain;
    object-position: center;
    width: 161px;
    align-self: flex-end;
    margin-top: 39px;
    max-width: 100%;
  }
  
  .contactInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #646874;
    font: var(--font-caption);
  }
  
  .sectionTitle {
    color: #0e2368;
    font-size: 19px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.57px;
  }
  
  .address {
    line-height: 23px;
    margin-top: 28px;
  }
  
  .email {
    margin-top: 25px;
  }
  
  .phone {
    text-align: center;
    margin-top: 24px;
  }
  
  .links {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #646874;
    font: var(--font-caption);
  }
  
  .link {
    margin-top: 29px;
  }
  
  .socialLinks {
    display: flex;
    flex-direction: column;
  }
  
  .copyright {
    color: #828b9c;
    text-align: center;
    margin-top: 147px;
    font: var(--font-caption);
  }

  @media (max-width: 991px) {
    .footer {
      padding: 93px 19px;
    }
  
    .footerContent {
      max-width: 100%;
      margin-bottom: 10px;
      flex-wrap: nowrap;
    }
  
    .socialLinks {
      margin-right: 10px;
    }
  
    .copyright {
      margin-top: 40px;
    }
    .logo{
      position: relative;
      top:-25px
    }
  }
  @media (max-width:550px){
    .footerContent{
      flex-direction: column;
    }
    .logo{
      top: 0px;
      align-self: flex-start;
    }
    .footer{
      padding: 0px 0px 4px 19px;
      margin-top: 50px;
    }
    
  }