* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{

    --main-color:#e23744;

    --font-caption:400 13px "Source Sans Pro", sans-serif;

    --font-title: 600 62px/1 "Source Sans Pro", sans-serif;
    --font-title-color:#0e2368;
    --font-primary:400 18px "Open Sans", sans-serif;
    --font-secondary: 400 23px "Open Sans", sans-serif;
    --font-primary-color:rgba(68, 73, 87, 1);
    
  }
  @media (max-width:991px) {
    :root{
      --font-title: 600 55px/1 "Source Sans Pro", sans-serif;
      --font-primary:400 25px "Open Sans", sans-serif;
      --font-secondary: 400 40px "Open Sans", sans-serif;
    }
  }
  @media (max-width:550px) {
    :root{
      --font-title: 600 38px/1 "Source Sans Pro", sans-serif;
      --font-primary:400 14px "Open Sans", sans-serif;
      --font-secondary: 400 20px "Open Sans", sans-serif;
    }
  }